<!-- @dsCard group="Simulation" height=220 -->
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Terminal</title>

</head>
<body>
<div class="terminal"><pre style="min-height:0"><span class="pr">C:\&gt;</span> ipconfig /all
   Host Name . . . . . . . . : BL-LT-1042
   IPv4 Address. . . . . . . : 10.20.2.41
   DNS Servers . . . . . . . : 8.8.8.8
<span class="pr">C:\&gt;</span> nslookup intranet.brightline.local
*** dns.google can't find intranet.brightline.local: Non-existent domain</pre><div class="term-line"><span class="pr">C:\&gt;&nbsp;</span><input id="ds-cmd" value="netsh interface ip set dns"></div></div>
</body>
</html>
